
<div class="position">当前位置： &gt; <a href="/">网站首页</a> &gt; <%= @node.name %> &gt; <%= @category.name %> &gt; <%= @topic.title %></div>

<div class="Main">
	<div class="box">
		<div class="topic_block">
			<div class="clearfix">
				<div style="float:left;display:inline;width:400px;">
					<div style="font-size:18px;font-weight:bold;color:#2b5da6;line-height:40px;"><%= @topic.title %></div>
					<ul class="topic_info">
						<li><span>联系电话：</span><%= @topic.phone %></li>
						<li><span>发布者所属地区：</span><%= @topic.city %></li>
						<li><span>联 系 人：</span><%= @topic.contact %></li>
						<li><span>发布者发布地区：</span><%= @topic.phone %></li>
						<li><span>有效期限：</span><%= @topic.validate_date %></li>
						<li><span>浏览次数：</span><%= @topic.phone %></li>
						<li><span>发布时间：</span><%= @topic.created_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
					</ul>
				</div>
				<div style="float:right;display:inline;width:200px;">
				</div>
			</div>
			<div class="topic_txt">
				<%= @topic.content %>
			</div>
			<div class="topic_note">
				<p style="color:#000;">请直接与我联系</p>
				<p style="color:#FF0000;">联系我的时候请说是在"青铜峡社区网"上看到的，谢谢。</p>
			</div>
		</div>
	</div>
</div>