<%= javascript_include_tag 'admin/select' %>
<table align="CENTER" width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
	<tr>
		<td align="left" height="30" class="data_td_bg">
			&nbsp;&nbsp;&nbsp;管理导航：&nbsp;&nbsp;<a href="/admin/fls/index">链接管理</a>
			&nbsp;|&nbsp; <a href="/admin/fls/new">链接添加</a>
		</td>
	</tr>
</table>
<table align="CENTER" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="CENTER" valign="MIDDLE">&nbsp;</td>
	</tr>
</table>
			
<%= form_tag({:action => "index"}, {:name => "vbform", :id => "vbform"}) do %>
<table align="CENTER" width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
	<tr>
		<td align="CENTER" valign="MIDDLE">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr class="data_tr">
					<td class="data_td_label" width="5%" align="CENTER">ID</td>
					<td class="data_td_label" width="25%" align="CENTER">分类</td>
					<td class="data_td_label" align="CENTER">标题</td>
					<td class="data_td_label" width="15%" align="CENTER">添加时间</td>
					<td class="data_td_label" width="20%" align="CENTER">管理</td>
				</tr>
				<%
					if @fls.length>0
				%>
				<%
						@fls.each do |fl|
				%>
				<tr>
					<td colspan="5" class="border_bottom"></td>
				</tr>
				<tr class="data_tr" onmouseover="this.style.backgroundColor='#F4E088';this.style.borderColor='#003c9c';this.style.cursor='default';" onmouseout="this.style.backgroundColor='';this.style.borderColor='';">
					<td align="CENTER"><%= check_box_tag 'fl_ids[]', fl.id %></td>
					<td align="CENTER"><%= fl.fl_category.name if fl.fl_category %></td>
					<td align="CENTER"><a href="<%= fl.url %>" target="_blank"><%= fl.title %></a></td>
					<td align="CENTER"><%= fl.created_at.strftime("%Y-%m-%d %H:%M") %></td>
					<td align="CENTER">
						<a href="/admin/fls/<%= fl.id %>/edit">修改</a>&nbsp;|&nbsp;<%= link_to "删除", {:action => "destroy", :id => fl}, :confirm => "确定删除？", :method => "delete" %>
					</td>
				</tr>
				<%
						end
				%>
				<tr>
					<td class="border_bottom" colspan="5" align="CENTER"></td>
				</tr>
				<tr class="data_tr">
					<td colspan="5" align="CENTER" height="30">
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="page">
							<tr>
								<td width="45%">&nbsp;
									<input type="button" name="selectAll" value="全选" onClick="CheckAll(vbform,'fl_ids[]');" class="a_button">
									&nbsp;<input type="button" name="selectOther" value="反选" onClick="CheckOthers(vbform,'fl_ids[]');" class="a_button">
									&nbsp;<input type="submit" name="delete_all" value="全部删除" onClick="return checkForm(vbform);" class="b_button">
								</td>
								<td align="center"><%= will_paginate @fls %></td>
							</tr>
						</table>
					</td>
				</tr>
				<%
					else
				%>
				<tr>
					<td class="border_bottom" colspan="5" align="CENTER"></td>
				</tr>
				<tr class="data_tr">
					<td colspan="5" align="left" height="30">&nbsp;还没有内容。</td>
				</tr>
				<%
					end
				%>
			</table>
		</td>
	</tr>
</table>
<% end %>