
<div class="position">当前位置： &gt; <a href="/">网站首页</a> &gt; <span>社区</span></div>

<div class="Main">
	<div class="box">
		<div class="box_title clearfix"><h5>所有帖子</h5></div>
		<ul class="news_list_ul">
		<% for post in @posts %>
			<li>
				<span><%= post.created_at.strftime("%Y-%m-%d") %></span>
				<a href="<%= post.show_url %>" title="<%= post.title %>" target="_blank"><%= post.title %></a>
			</li>
		<% end %>
		</ul>
		<div class="pagination">
			<%= will_paginate @posts %>
		</div>
	</div>
</div>
<div class="Side">
	<div class="box" style="padding:20px;">
		<a href="/posts/new">发新帖</a>
	</div>
</div>