
<div class="position">
	<span style="float:right;padding-right:20px;"><a href="/posts/new">发新帖</a></span>
	当前位置： &gt; <a href="/">网站首页</a> &gt; <span>社区</span>
</div>

<div class="box">
	<div class="posts_list">
		<div class="thead clearfix">
			<div class="td_m post_title">标题</div>
			<div class="td_m post_author">作者</div>
			<div class="td_m post_time">时间</div>
			<div class="td_m post_hits">回复 / 点击</div>
		</div>
		<div class="tboby">
		<% for post in @posts %>
			<div class="item_block clearfix">
				<div class="item_a"><a href="<%= post.show_url %>" title="<%= post.title %>" target="_blank"><%= post.title %></a></div>
				<div class="td_m item_b"><%= post.user.username %></div>
				<div class="td_m item_c"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></div>
				<div class="td_m item_d"><span><%= post.reply_count %></span>/<%= post.hits %></div>
			</div>
		<% end %>
		</div>
		<div class="paginate">
			<span style="float:right;padding-right:20px;"><a href="/posts/new">发新帖</a></span>
			<%= will_paginate @posts %>
		</div>
	</div>
</div>